.main-container {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    width: 80%;
    margin-inline: auto;
    
}

.button-container {
    display: flex;
    flex-direction: column;
    min-width: 20%
}

.text-container {
    padding: 10px 10px 0px 10px;
}

.initial-container {
    margin-left: 5px;
}

.question-container {
    border: 1px solid black;
    padding: 5px 0px 0px 10px;
    margin-bottom: 5px;
}

hr {
    width: 99%;
}

.button {
    height: 150px;
}