.body-container {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    color: #0D6EFD;
    
}

.form1-container {
    width: 80%
}

.input-container {
    display: flex;
    flex-direction: row;
}

.input {
    width: 400px
}

.error-text {
    color: red;
    width: 300px;
    margin-left: 20px;
    width: 50%
}

.title-text {
    color: #0D6EFD;
    margin-left: 90px;
}
